.banner {
    background-image: url(/img/banner-background.svg);
    background-size: 100% auto;
    background-position: bottom;
    min-height: 288px;
    background-color: #FFFFFF;
}

.banner-content {
    padding-top: 64px;
    
}

.banner__header, .banner__secondary-header {
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.5px;
    margin: 0;
}

.banner__secondary-header {
    padding-top: 0;
    margin-top: 0;
}

.banner__span {
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-size: 52px;
    font-weight: 700;
    line-height: 62px;
    letter-spacing: -0.5px;
    color: #0265DC;
}

.content {
    margin-bottom: 120px;
}

.catalog-content {
    padding-right: 80px;
    padding-left: 80px;
    gap: 24px;
    display: grid;
    grid-template-columns: 217px 1fr;
    margin: 0 auto;
}

.side-menu {
    gap: 40px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.category {
    border: none;
    margin: 0;
    margin-bottom: 40px;
    padding: 0;
}

.category__header {
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin-bottom: 24px;
} 

.category__options {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    gap: 12px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

.checkbox__span {
    background-color: #FFFFFF;
    border: 1px solid rgba(31, 50, 71, 0.27);
    border-radius: 4px;
    width: 14px;
    height: 14px;
    position: relative;
    display: inline-block;
    transition: background-color .1s;
    cursor: pointer;
    margin: 5px;
    margin-right: 9px;
}

.checkbox__span:hover {
    background-color: #F4F7FA;
}

.checkbox__span:focus {
    background-color: #B5DEFF;
}

.checkbox__span:active {
    background-color: #B5DEFF;
}

.checkbox__span::before {
    content: '';
    background-size: cover;
    width: 6px;
    height: 6px;
    display: inline-block;
}

.checkbox__input:checked ~ .checkbox__span {
    background: url(/img/icons/checkbox-mark-icon.svg) center / 8px 6px no-repeat;
    background-color: #0265DC;
}

.checkbox__input:focus ~ .checkbox__span {
    outline: 2px solid #3892F3;
}

.options {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.radio__span {
    background-color: #FFFFFF;
    border: 2px solid rgba(31, 50, 71, 0.27);
    border-radius: 50%;
    width: 14px;
    height: 14px;
    position: absolute;
    transition: background-color .3s;
    cursor: pointer;
    box-sizing: border-box;
    margin: 5px;
    margin-right: 9px;
}

.radio__span:hover {
    background-color: #F4F7FA;
}

.radio__span:focus {
    outline: 5px solid #CAE8FF;
}

.radio__span:active {
    background-color: #F4F7FA;
}

.radio__text {
    margin-left: 28px;
}

.radio__input:checked ~ .radio__span {
    background-color: #FFFFFF;
    border: 5px solid #0265DC;
    box-sizing: border-box;
}

.radio__input:focus ~ .radio__span {
    outline: 2px solid #3892F3;
}

.form-switcher {
    display: flex;
    align-items: center;
}

.form-switcher__text {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    margin-left: 8px;
}

.form-switcher__box {
    display: block;
    width: 40px;
    height: 24px;
    border-radius: 19px;
    margin-top: 2px;
    margin-bottom: 2px;
    background-color: rgba(34, 52, 73, 0.4);
    position: relative;
    cursor: pointer;
    transition: background-color .3s ease;
}

.form-switcher__box:hover {
    background-color: rgba(31, 50, 71, 0.27);
}

.form-switcher__box:focus-within {
    outline: 4px solid #3892F3;
}

.form-switcher__box:active {
    background-color: rgba(42, 53, 65, 0.85);
}

.form-switcher__box::before {
    content: '';
    display: block;
    position: absolute;
    width: 40px;
    height: 20px;
    left: 50%;
    top: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity .2s ease;
    pointer-events: none;
    border: 2px solid #0265DC;
    border-radius: 100px;
}

.form-switcher__input:checked + .form-switcher__box::before {
    opacity: 1;
}

.form-switcher__box::after {
    content: '';
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background-color: #FFFFFF;
    position: absolute;
    top: 4px;
    left: 2px;
    transition: transform .2s ease;
}

.form-switcher__input:checked + .form-switcher__box {
    background-color: #0265DC;
}

.form-switcher__input:checked + .form-switcher__box:hover {
    background-color: #3892F3;
    border: none;
}

.form-switcher__input:checked + .form-switcher__box::after {
    transform: translateX(20px);
    border: none;
}

.range-wrapper {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
}
.range-container {
    position: relative;
    margin-top: 30px;

}
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100%;
    outline: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    background-color: transparent;
    pointer-events: none;
}
.slider-track {
    width: 100%;
    height: 5px;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    border-radius: 5px;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
}
input[type="range"]::-moz-range-track {
    -moz-appearance: none;
    height: 5px;
}
input[type="range"]::-ms-track {
    appearance: none;
    height: 5px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    background-color: #3264fe;
    cursor: pointer;
    margin-top: -9px;
    pointer-events: auto;
    border-radius: 50%;
}
input[type="range"]::-moz-range-thumb {
    -webkit-appearance: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
    border: none;
}
input[type="range"]::-ms-thumb {
    appearance: none;
    height: 24px;
    width: 24px;
    cursor: pointer;
    border-radius: 50%;
    background-color: #3264fe;
    pointer-events: auto;
}
input[type="range"]:active::-webkit-slider-thumb {
    background-color: #ffffff;
    border: 1px solid #3264fe;
}

input[type="range"]:focus::-webkit-slider-thumb {
    outline: 4px solid #3892F3;
}
.values {
    background-color: #3264fe;
    width: 32%;
    position: relative;
    margin: auto;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    font-weight: 500;
    font-size: 25px;
    color: #ffffff;
}
.values:before {
    content: "";
    position: absolute;
    height: 0;
    width: 0;
    border-top: 15px solid #3264fe;
    border-left: 15px solid transparent;
    border-right: 15px solid transparent;
    margin: auto;
    bottom: -14px;
    left: 0;
    right: 0;
}

.range__input {
    appearance: none;
    width: 215px;
    height: 4px;
    border-radius: 4px;
    outline: none;
    margin: 10px 0;
    position: relative;
    background: linear-gradient(to right, #007BFF 50%,#ddd 50%);
    cursor: pointer;
} 

.price-range {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    width: 215px;
    padding-top: 20px;
}

.min-range__text, .max-range__text {
    display: inline-block;
    margin: 0 10px;
}

.clear-all-filter {
    width: 217px;
    height: 40px;
    padding: 8px 20px;
    gap: 8px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFF;
    border: 2px solid rgba(29, 54, 83, 0.17);
    margin-top: 40px;
    background: url(/img/icons/cross-icon.svg) left 30px center / 12px 12px no-repeat;
    transition: background-color .3s, border 0.3s;
}

.clear-all-filter:hover {
    border: none; 
    cursor: pointer;
    background-color: rgba(41, 77, 117, 0.09);
    border: 2px solid rgba(29, 54, 83, 0.17);
}

.clear-all-filter:active {
    border: none; 
    cursor: pointer;
    background-color: rgba(41, 77, 117, 0.09);
}

.clear-all-filter:focus {
    outline: 4px solid #3892F3;
    border-radius: 8px;
}

.filter-bar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.dropdown select {
    width: 156px;
    height: 40px;
    border-radius: 8px;
    border: 1px solid rgba(29, 54, 83, 0.17);
    appearance: none;
    padding: 8px 20px;
    background: url(/img/icons/chevron-down-icon.svg) center right 20px / 24px 24px no-repeat;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    transition: outline .3s;
}

.dropdown option {
    background: #FFFFFF;
}

.dropdown select:hover {
    outline: 2px solid #3892F3;
}

.dropdown select:active {
    outline: 2px solid #3892F3;
}

.dropdown select:focus {
    outline: 4px solid #3892F3;
}

.selected-filters {
    display: flex;
    flex-wrap: wrap;
    margin-left: auto;
    align-items: center;
    gap: 24px;
}

.results-info {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.selected-filters__buttons {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.layout-grid-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    width: 40px;
    height: 40px;
    padding: 0;
    transition: scale .3s;
}

.layout-grid-button:hover {
    scale: 1.1;
}

.layout-grid-button:active {
    scale: 1.1;
}

.layout-grid-button:focus {
    outline: 4px solid #3892F3;
    border-radius: 8px;
}

.layout-list-button {
    background-color: transparent;
    border: 1px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    width: 40px;
    height: 40px;
    transition: scale .3s, border-color .3s;
}

.layout-list-button:hover {
    scale: 1.1;
    border-color: #3892F3;
}

.layout-list-button:active {
    scale: 1.1;
    border-color: #3892F3;
}


.layout-list-button:focus {
    outline: 4px solid #3892F3;
    border-radius: 8px;
}

.selected-filters-list {
    display: flex;
    flex-wrap: wrap;
    margin-top: 24px;
    gap: 8px;
}

.filter-tag {
    width: 85px;
    height: 32px;
    border-radius: 8px;
    border: 1px solid rgba(29, 54, 83, 0.17);
    padding-right: 20px;
    background: url(/img/icons/cross-icon.svg) center right 10px / 10px 10px no-repeat;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition: outline .3s;
}

.filter-tag:hover {
    outline: 2px solid #3892F3;
}

.filter-tag:active {
    outline: 2px solid #3892F3;
}

.filter-tag:focus {
    outline: 4px solid #3892F3;
}

.catalog-container {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    row-gap: 32px;
    column-gap: 32px;
    margin-top: 48px;
}

.catalog-container::after {
    content: "";
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 52px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.5) -118.9%, #FFFFFF 93.08%);
}

.label-sold-out {
    position: absolute;
    background-color: #FFFFFF;
    border: none;
    color: rgba(42, 53, 65, 0.7);
    border-radius: 100px;
    width: 114px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-left: 16px;
}

.label-new {
    position: absolute;
    background-color: #007772;
    border: none;
    color: #F5F8FB;
    border-radius: 100px;
    width: 72px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-left: 16px;
}

.label-popular {
    position: absolute;
    background-color: #0265DC;
    border: none;
    color: #F5F8FB;
    border-radius: 100px;
    width: 111px;
    height: 40px;
    text-align: center;
    align-content: center;
    margin-left: 16px;
}

.box__header {
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 0;
    text-wrap: nowrap;
}

.box__description {
    display: inline-flex;
    flex-wrap: wrap;
    align-items: center;
}

.box__text, .box__text-small {
    color: rgba(42, 53, 65, 0.85);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    position: relative;
}

.box__text::after {
    content: '';
    display: inline-block;
    width: 4px;
    height: 4px;
    background-color: rgba(42, 53, 65, 0.85);
    border-radius: 50%;
    margin: 0 8px;
    vertical-align: middle;
}

.price, .price-section__text {
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin: 0;
}

.sold {
    opacity: 50%;
}

.price-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 12px;
}

.price-section__buttons {
    display: flex;
    flex-wrap: wrap;
    column-gap: 8px;
}

.heart-button {
    background-color: transparent;
    border: none;
    padding: 0;
    width: 40px;
    height: 40px;
    transition: scale .3s;
}

.heart-button:hover {
    scale: 1.1;
}

.heart-button:active {
    scale: 1.1;
}

.heart-button:focus {
    outline: 4px solid #3892F3;
    border-radius: 8px;
}

.product__img {
    border-radius: 20px;
    width: 100%;
    aspect-ratio: 325/260;
    object-fit: cover;
}

.load-more__button {
    width: 156px;
    height: 64px;
    padding: 18px 32px;
    border-radius: 8px;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    background-color: #FFFFFF;
    border: 2px solid rgba(29, 54, 83, 0.17);
    text-wrap: nowrap;
}
.load-more {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 48px;
    transition: background-color .3s;
}

.load-more__button:hover {
    background-color: rgba(41, 77, 117, 0.09);
    border: none; 
    cursor: pointer;
    border: 2px solid rgba(41, 77, 117, 0.09);
}

.load-more__button:active {
    background-color: rgba(41, 77, 117, 0.09);
    border: none; 
    cursor: pointer;
    border: 2px solid rgba(41, 77, 117, 0.09);
}

.load-more__button:focus {
    outline: 4px solid #3892F3;
}
