body {
    font-family: 'Libre Franklin', 'Arial Narrow', Arial, sans-serif;
    background-color: #FFFFFF;
    color: #0D0D15;
    min-width: 1280px;
    gap: 0;
}

.container {
    padding-inline: 80px;
    max-width: 1440px;
    margin: 0 auto;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.header {
    display: flex;
    align-items: center;
    padding-block: 24px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pixmart:focus {
    outline: 4px solid #3892F3;
    border-radius: 8px;
}

.navigation__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    padding-left: 32px;
}

.navigation__link {
    text-decoration: none;
    color: #0D0D15;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    transition: color .3s;
}

.navigation__link:hover {
    color: #3892F3;
}

.navigation__link:focus {
    outline: 4px solid #3892F3;
    border-radius: 5px;
}

.active-card {
    color: #3892F3;
    cursor: auto;
}

.search__form {
    padding-right: 8px;
    margin-left: auto;
}

.search__input {
    color: rgba(42, 53, 65, 0.7);
    appearance: none;
    width: 240px;
    height: 40px;
    border-radius: 8px;
    border-color: rgba(29, 54, 83, 0.17);
    padding: 10px 12px;
    transition: border-color .3s;
}

.search__input:hover {
    border-color: #3892F3;
    cursor: pointer;
}

.search__input:focus {
    border-color: #3892F3;
    outline: 4px solid #3892F3;
}

.shopping-button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    padding: 0;
    width: 40px;
    height: 40px;
    transition: scale .3s ease-in-out;
}

.shopping-button:hover {
    scale: 1.1;
}

.shopping-button:focus {
    outline: 4px solid #3892F3;
    border-radius: 8px;
    scale: 1.1;
}

.footer {
    padding-top: 64px;
}

.main-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer-left {
    width: 320px;
}

.footer__text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-right {
    display: flex;
    flex-wrap: wrap;
    gap: 64px;
    justify-content: space-between;
    margin-left: auto;
}

.footer-section__header {
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    justify-content: flex-end;
    margin: 0;
}

.footer-section__list {
    list-style: none;
    padding: 0;
}

.footer__item {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
}

.footer-section__link {
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: rgba(42, 53, 65, 0.85);
    text-wrap: nowrap;
    transition: color 0.3s;
}

.footer-section__link:hover {
    color: #3892F3;
}

.footer-section__link:focus {
    outline: 4px solid #3892F3;
    border-radius: 5px;
    color: #0265DC;
}

.social-media {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 72px;
    margin-bottom: 80px;
}

.social-media__list {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 8px;
    align-items: center;
    padding: 0;
    margin: 0;
}
.social-media__item {
    border: 2px solid rgba(29, 54, 83, 0.17);
    border-radius: 8px;
    width: 64px;
    height: 64px;
    align-content: center;
    box-sizing: border-box;
    padding-left: 18px;
    transition: scale 0.3s;
}

.social-media__link {
    color: #0D0D15;
}

.social-media__link:focus {
    color: #0265DC;
}

.social-media__item:hover {
    scale: 1.1;
    cursor: pointer;
}

.subscribe-container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.subscribe-container__header {
    width: 216px;
    font-family: 'Plus Jakarta Sans', 'Times New Roman', Times, serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding-right: 24px;
}

.email-form {
    gap: 8px;
    padding: 0;
    padding-right: 8px;
}

.email-form__input {
    color: rgba(42, 53, 65, 0.7);
    appearance: none;
    width: 240px;
    height: 64px;
    border-radius: 8px;
    border-color: rgba(29, 54, 83, 0.17);
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    box-sizing: border-box;
    padding: 8px;
    transition: border-color 0.3s;
}

.email-form__input:hover {
    border-color: #3892F3;
    cursor: pointer;
}

.email-form__input:focus {
    outline: 4px solid #3892F3;
    border-radius: 5px;
}

.subscribe-blue {
    width: 157px;
    height: 64px;
    padding: 20px 40px;
    border-radius: 8px;
    background-color: #0265DC;
    color: #F5F8FB;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    border: none;
    transition: background-color .3s;
}

.subscribe-blue:hover {
    background-color: #3892F3;
}

.subscribe-blue:focus {
    outline: 4px solid #3892F3;
}

.policy {
    background-color: #0D0D15;
}

.policy__wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.policy__list {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    list-style: none;
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
}

.policy__link {
    color: rgba(231, 238, 247, 0.66);
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    transition: color .3s;
}

.policy__link:hover {
    color: #3892F3;
    cursor: pointer;
}

.policy__link:focus {
    outline: 4px solid #3892F3;
    border-radius: 5px;
    color: #0265DC;
}

.policy__item::after {
    content: "|";
    color: rgba(231, 238, 247, 0.66);
    padding-left: 8px;
}

.copyright__text {
    color: rgba(231, 238, 247, 0.66);
    text-wrap: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    padding: 0px;
    margin-top: 24px;
    margin-bottom: 24px;
}

















